### Extract Freely Available Link Counts from XML Dumps

In [1]:
# basic defaults, including study dates, common SQL exclusions and parquet files for anonymized data
%run -i 'data-defaults.py'

In [2]:
WIKIPEDIA_XML_DUMPS = ['enwiki-20190401-pages-articles-multistream.xml.bz2',
                       'enwiki-20190420-pages-articles-multistream.xml.bz2']

# regex derived from https://en.wikipedia.org/wiki/Module:Citation/CS1/Configuration as per Antonin Delpeuch
FREE_REGEX = re.compile(r'((pmc|arxiv|citeseerx|biorxiv|rfc|ssrn) ?= ?\w)|((doi|hdl|bibcode|ol|jstor|osti)-access ?= ?free)', re.IGNORECASE | re.DOTALL)

def count_free_links(entity, date):
    page_text = entity.revision.text._VALUE
    count = len(FREE_REGEX.findall(page_text))
    return Row(page_id=entity.id, free_links=count, dt=date)

freely_rdd = sc.emptyRDD()
for file in WIKIPEDIA_XML_DUMPS:
    wikipedia = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='page').load(file)
    dump_date = re.search(r'.*(\d{8}).*',file).group(1)
    articles = wikipedia\
        .filter("ns = '0'")\
        .filter("redirect._title is null") \
        .filter("revision.text._VALUE is not null") \
        .filter("length(revision.text._VALUE) > 0")
    daily_counts = sqlContext.createDataFrame(articles.rdd.map(lambda entity: count_free_links(entity, dump_date)))
    freely_rdd = freely_rdd.union(daily_counts.rdd)

freely_merged = sqlContext.createDataFrame(freely_rdd)
freely = freely_merged.toPandas()

In [3]:
freely

                dt  free_links   page_id
0         20190401           0        12
1         20190401          69        25
2         20190401           3        39
3         20190401           0       290
4         20190401           0       303
5         20190401           0       305
6         20190401           0       307
7         20190401           4       308
8         20190401           0       309
9         20190401           0       316
10        20190401           0       324
11        20190401           0       330
12        20190401           0       332
13        20190401           0       334
14        20190401          14       336
15        20190401           0       339
16        20190401           0       340
17        20190401           0       344
18        20190401           1       358
19        20190401           0       359
20        20190401           1       569
21        20190401           0       572
22        20190401           1       573
23        20190401           0       579
24        20190401           0       580
25        20190401           7       586
26        20190401           0       590
27        20190401           0       593
28        20190401           0       594
29        20190401           0       595
...            ...         ...       ...
11686877  20190420           0  60552524
11686878  20190420           0  60552528
11686879  20190420           0  60552534
11686880  20190420           0  60552561
11686881  20190420           0  60552576
11686882  20190420           0  60552592
11686883  20190420           0  60552597
11686884  20190420           0  60552601
11686885  20190420           0  60552606
11686886  20190420           0  60552607
11686887  20190420           0  60552611
11686888  20190420           0  60552619
11686889  20190420           0  60552630
11686890  20190420           0  60552632
11686891  20190420           0  60552643
11686892  20190420           0  60552649
11686893  20190420           0  60552656
11686894  20190420           0  60552665
11686895  20190420           0  60552674
11686896  20190420           0  60552678
11686897  20190420           0  60552679
11686898  20190420           0  60552689
11686899  20190420           0  60552690
11686900  20190420           0  60552709
11686901  20190420           0  60552711
11686902  20190420           0  60552724
11686903  20190420           0  60552730
11686904  20190420           0  60552736
11686905  20190420           0  60552745
11686906  20190420           0  60552764

[11686907 rows x 3 columns]

In [4]:
# write free link counts data to a table for later use
freely_merged.createOrReplaceTempView("temp_free_count")
sqlContext.sql("DROP TABLE IF EXISTS ryanmax.free_count_w_date")
sqlContext.sql("CREATE TABLE ryanmax.free_count_w_date AS SELECT * FROM temp_free_count")

DataFrame[]

In [5]:
freely.query('free_links>100')

                dt  free_links   page_id
5695      20190401         103     12024
13778     20190401         105     27680
90311     20190401         111    156964
563567    20190401         105   2146034
935711    20190401         157   4501641
1653642   20190401         137  11664498
1665664   20190401         109  11790568
1989129   20190401         103  14958673
2019712   20190401         133  15308316
3656464   20190401         155  33431450
3861391   20190401         112  35917093
3902298   20190401         175  36315057
5218847   20190401         119  52206193
5462996   20190401         139  55498066
5466705   20190401         150  55548805
5478419   20190401         158  55703377
5652274   20190401         101  57683681
5678352   20190401         122  58028935
5844778   20190420         103     12024
5852862   20190420         105     27680
5929390   20190420         111    156964
6402592   20190420         105   2146034
6774672   20190420         157   4501641
7492453   20190420         137  11664498
7504470   20190420         109  11790568
7827586   20190420         104  14958673
7858119   20190420         135  15308316
9494533   20190420         155  33431450
9699531   20190420         115  35917093
9740433   20190420         175  36315057
11056915  20190420         119  52206193
11301086  20190420         139  55498066
11304795  20190420         151  55548805
11316515  20190420         159  55703377
11490383  20190420         101  57683681
11516479  20190420         122  58028935

In [6]:
# Count of freely_available links in W pages w/ ext links
w_free_query = """
SELECT sum(free_links) AS freely_available_links, dt AS extract_date
FROM 
    ryanmax.free_count_w_date
WHERE page_id IN 
    (SELECT DISTINCT page_id 
    FROM ryanmax.pages_with_extlinks 
    WHERE to_date(dt) >= '{}' AND to_date(dt) <= '{}')
GROUP BY dt
"""

w_free_links = spark.sql(w_free_query.format(start_date_string, end_date_string))
w_free_links.show()

+----------------------+------------+
|freely_available_links|extract_date|
+----------------------+------------+
|                345144|    20190420|
|                341561|    20190401|
+----------------------+------------+

In [7]:
# Count of freely_available links in WP:M pages w/ ext links
pm_free_query = """
SELECT sum(free_links) AS freely_available_links, dt AS extract_date
FROM 
    ryanmax.free_count_w_date
WHERE page_id IN 
    (SELECT DISTINCT page_id 
    FROM ryanmax.projmed_with_extlinks 
    WHERE to_date(dt) >= '{}' AND to_date(dt) <= '{}')
GROUP BY dt
"""

pm_free_links = spark.sql(pm_free_query.format(start_date_string, end_date_string))
pm_free_links.show()

+----------------------+------------+
|freely_available_links|extract_date|
+----------------------+------------+
|                 52843|    20190420|
|                 52241|    20190401|
+----------------------+------------+

In [8]:
# Count of freely_available links not in WP:M pages
not_pm_free_query = """
SELECT sum(free_links) AS freely_available_links, dt as extract_date
FROM 
    ryanmax.free_count_w_date
WHERE page_id IN 
    (SELECT DISTINCT page_id 
    FROM ryanmax.pages_with_extlinks 
    WHERE to_date(dt) >= '{}' AND to_date(dt) <= '{}')
    AND page_id NOT IN 
    (SELECT DISTINCT page_id 
    FROM ryanmax.projmed_with_extlinks 
    WHERE to_date(dt) >= '{}' AND to_date(dt) <= '{}')
GROUP BY dt
"""

not_pm_free_links = spark.sql(
    not_pm_free_query.format(start_date_string, end_date_string, start_date_string, end_date_string))
not_pm_free_links.show()

+----------------------+------------+
|freely_available_links|extract_date|
+----------------------+------------+
|                292301|    20190420|
|                289320|    20190401|
+----------------------+------------+