## Pageload & Event Queries
**NOTE**: Data for all pages with external links began 3/29 whereas WPM pages with external links began 3/27 meaning a simple subtraction of WPM from all pages will not produce the same summary total as NOT WPM. Possible solutions: either limit study period to >= 3/29 OR use all page IDs found after we started collecting data and assume the deltas are minor (likely true for PWM, likely relatively true for W but numerically a greater difference).
- v. 1.0.0 2019-04-08
- v. 1.0.1 2019-04-17
- v. 1.0.2 2019-04-23

In [1]:
# basic setup
# use PySpark YARN kernel
import pyspark
import re
import pyspark.sql
from pyspark.sql import *
import pandas as pd
import matplotlib.pyplot as plt
import hashlib
import os.path
from pyspark.sql.functions import desc
from datetime import timedelta, date

%matplotlib inline
spark_hive = pyspark.sql.HiveContext(sc)

In [2]:
## basic data defaults

# required to iterate the range of dates
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

# set date ranges for all queries
start_date = date(2019, 3, 21)
end_date = date(2019, 4, 22)
date_format = '%Y-%m-%d'
start_date_string = start_date.strftime(date_format)
end_date_string = end_date.strftime(date_format)

# convenience method for converting dates to 'YYYY-MM-DD%' for SQL queries
def date_to_dt(date):
    return str(date.year) + '-' + '{0:02d}'.format(date.month) + '-' + '{0:02d}'.format(date.day) + '%'

## common exclusion SQL
#
# exclude event data that is either: 
# - has page or revision ID of zero (pages not yet created as per bmansurov https://phabricator.wikimedia.org/T213969#4998281)
# - is 'extClick' but is an internal link improperly coded as external as per bmansurov https://phabricator.wikimedia.org/T213969#5003710
event_exclusion_sql = """
AND (citationusage.event.page_id = 0 OR citationusage.event.revision_id = 0) = FALSE
AND (citationusage.event.action = 'extClick' AND 
    (citationusage.event.link_url LIKE 'https://en.wikipedia.org%' 
    OR citationusage.event.link_url LIKE 'https://en.m.wikipedia.org%')) = FALSE
"""
# exclude pageload data that:
# - has page or revision ID of zero (pages not yet created as per bmansurov https://phabricator.wikimedia.org/T213969#4998281)
pageload_exclusion_sql = """
AND (citationusagepageload.event.page_id = 0 OR citationusagepageload.event.revision_id = 0) = FALSE
"""

## Citation Usage Overview

In [11]:
# show citationusage events by date and type

events_query = """
SELECT to_date(dt) date, event.action, COUNT(*) count
FROM event.citationusage
WHERE wiki = 'enwiki'
{}
AND to_date(dt) >= '{}'
AND to_date(dt) <= '{}'
AND useragent.is_bot = FALSE
GROUP BY to_date(dt), event.action
ORDER BY to_date(dt)
"""

events = spark.sql(events_query.format(event_exlusion_sql,start_date_string, end_date_string))
events_rdd = events.rdd
events_df = sqlContext.createDataFrame(events_rdd)
events_pandas = events_df.toPandas()

In [12]:
events_pandas.pivot(index='date', columns='action', values='count')

action      extClick  fnClick  fnHover  upClick
date
2019-03-21    441641   221977   310889    91402
2019-03-22   1564276   725377  1131859   149622
2019-03-23   1369397   667724   883147    20342
2019-03-24   1509326   750329  1018411    23969
2019-03-25   1744801   782508  1365524    82990
2019-03-26   1701660   737057  1342285    28909
2019-03-27   1666356   728824  1321898    27761
2019-03-28   1611850   705904  1267787    25736
2019-03-29   1498888   666005  1122572    23467
2019-03-30   1336032   649300   865928    19934
2019-03-31   1458753   736367   999087    23209
2019-04-01   1696212   786294  1347917    64128
2019-04-02   1682662   747037  1347737    40231
2019-04-03   1670454   738633  1388282    27035
2019-04-04   1646892   729689  1295965    25781
2019-04-05   1569885   698560  1167598    23560
2019-04-06   1384602   686494   884076    20321
2019-04-07   1509870   774512  1017164    25706
2019-04-08   1782721   806068  1381709    28268
2019-04-09   1737629   785598  1354357    27683
2019-04-10   1694997   815365  1330797    26776
2019-04-11   1652196   769221  1322496    25945
2019-04-12   1562013   731778  1174525    24225
2019-04-13   1371961   713839   880946    21390
2019-04-14   1495978   807770  1000841    23310
2019-04-15   1715777   818613  1340525    27057
2019-04-16   1696712   789199  1539108    27887
2019-04-17   1668298   775790  1263989    37014
2019-04-18   1591918   760815  1159988    60986
2019-04-19   1502334   762657  1008602    61486
2019-04-20   1402357   752056   869566    36189
2019-04-21   1453171   813824   926495    38190
2019-04-22    875052   455741   620676    33161

## Pageload Data
#### source: event.citationusagepageload

In [14]:
# basic pageloads overview
pageloads_query = """
SELECT to_date(dt) date, event.action, count(*) count
FROM event.citationusagepageload
WHERE wiki = 'enwiki'
{}
AND to_date(dt) >= '{}'
AND to_date(dt) <= '{}'
AND useragent.is_bot = FALSE
GROUP BY to_date(dt), event.action
ORDER BY to_date(dt)
"""

pageloads = spark.sql(pageloads_query.format(pageload_exclusion_sql,start_date_string, end_date_string))
pageloads_rdd = pageloads.rdd
pageloads_df = sqlContext.createDataFrame(pageloads_rdd)
pageloads_pandas = pageloads_df.toPandas()

In [15]:
pageloads_pandas.pivot(index='date', columns='action', values='count')

action      pageLoad
date
2019-03-21  14252491
2019-03-22  52351262
2019-03-23  51534585
2019-03-24  56785088
2019-03-25  58238950
2019-03-26  55863494
2019-03-27  54945634
2019-03-28  53862676
2019-03-29  51350113
2019-03-30  49709557
2019-03-31  55155870
2019-04-01  57602601
2019-04-02  55512823
2019-04-03  55231675
2019-04-04  54971621
2019-04-05  53806608
2019-04-06  51753146
2019-04-07  57171480
2019-04-08  60273055
2019-04-09  58113511
2019-04-10  57244270
2019-04-11  56977233
2019-04-12  55170250
2019-04-13  52983695
2019-04-14  59504841
2019-04-15  60295053
2019-04-16  59184941
2019-04-17  56755338
2019-04-18  54844557
2019-04-19  54636864
2019-04-20  54168770
2019-04-21  57978714
2019-04-22  31711821

### data refresh required
The queries below use data from daily SQL queries which are then imported into hive. Tables that require refreshing and date they were last refreshed:
- ryanmax.pages_with_extlinks: 2019-04-15
- ryanmax.projmed_categories: 2019-04-12
- ryanmax.projmed_with_extlinks: 2019-04-15

In [16]:
# daily count of pageloads of WP:M pages with external links
## verified against day-at-a-time version of same query
pgload_wpm_extl_query = """
SELECT to_date(citationusagepageload.dt) date, event.action, count(*) count
FROM event.citationusagepageload, ryanmax.projmed_with_extlinks
WHERE wiki = 'enwiki'
AND event.page_id = projmed_with_extlinks.page_id
AND to_date(citationusagepageload.dt) = to_date(projmed_with_extlinks.dt)
{}
AND to_date(citationusagepageload.dt) >= '{}'
AND to_date(citationusagepageload.dt) <= '{}'
AND useragent.is_bot = FALSE
GROUP BY to_date(citationusagepageload.dt), event.action
ORDER BY to_date(citationusagepageload.dt)
"""

pgload_wpm_extl = spark.sql(pgload_wpm_extl_query.format(pageload_exclusion_sql,start_date_string, end_date_string))
pgload_wpm_extl_rdd = pgload_wpm_extl.rdd
pgload_wpm_extl_df = sqlContext.createDataFrame(pgload_wpm_extl_rdd)
pgload_wpm_extl_pandas = pgload_wpm_extl_df.toPandas()

In [18]:
pgload_wpm_extl_pandas.pivot(index='date', columns='action', values='count')

action      pageLoad
date
2019-03-27   1625817
2019-03-28   1562904
2019-03-29   1409126
2019-03-30   1204096
2019-03-31   1282419
2019-04-01   1580307
2019-04-02   1614142
2019-04-03   1582776
2019-04-04   1574177
2019-04-05   1438065
2019-04-06   1218068
2019-04-07   1325004
2019-04-08   1642222
2019-04-09   1675700
2019-04-10   1639111
2019-04-11   1603256
2019-04-12   1453437
2019-04-13   1226539
2019-04-14   1320659

In [19]:
# daily count of pageloads of all pages with external links
## verified against day-at-a-time version of same query
pgload_extl_query = """
SELECT to_date(citationusagepageload.dt) date, event.action, count(*) count
FROM event.citationusagepageload, ryanmax.pages_with_extlinks
WHERE wiki = 'enwiki'
AND event.page_id = pages_with_extlinks.page_id
AND to_date(citationusagepageload.dt) = to_date(pages_with_extlinks.dt)
{}
AND to_date(citationusagepageload.dt) >= '{}'
AND to_date(citationusagepageload.dt) <= '{}'
AND useragent.is_bot = FALSE
GROUP BY to_date(citationusagepageload.dt), event.action
ORDER BY to_date(citationusagepageload.dt)
"""

pgload_extl = spark.sql(pgload_extl_query.format(pageload_exclusion_sql,start_date_string, end_date_string))
pgload_extl_rdd = pgload_extl.rdd
pgload_extl_df = sqlContext.createDataFrame(pgload_extl_rdd)
pgload_extl_pandas = pgload_extl_df.toPandas()

In [20]:
pgload_extl_pandas.pivot(index='date', columns='action', values='count')

action      pageLoad
date
2019-03-29  50242532
2019-03-30  48728115
2019-03-31  54094252
2019-04-01  56399087
2019-04-02  54304069
2019-04-03  54024174
2019-04-04  53771778
2019-04-05  52672333
2019-04-06  50732149
2019-04-07  56048368
2019-04-08  58993783
2019-04-09  56854520
2019-04-10  56008220
2019-04-11  55760301
2019-04-12  54022922
2019-04-13  51974053
2019-04-14  58393578
2019-04-15  59050862

In [21]:
# top 1000 most visited WP:M pages with external links
top1k_query = """
SELECT event.page_id, page.page_title as title, count(*) count
FROM event.citationusagepageload, enwiki.page
WHERE event.page_id = page.page_id
AND wiki = 'enwiki'
AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks)
AND useragent.is_bot = FALSE
{}
AND to_date(dt) >= '{}'
AND to_date(dt) <= '{}'
GROUP BY event.page_id, page.page_title
ORDER BY count(*) desc
LIMIT 1000
"""

top1k_rdd = sc.emptyRDD()
top1k = spark.sql(top1k_query.format(pageload_exclusion_sql, start_date_string, end_date_string))

# write top1k data to a table for later use
top1k.createOrReplaceTempView("temp_top1k")
sqlContext.sql("DROP TABLE IF EXISTS ryanmax.top1k_med");
sqlContext.sql("CREATE TABLE ryanmax.top1k_med AS SELECT * FROM temp_top1k");

top1k.limit(20).toPandas()

# NOTE: Pages may appear with a title of "None" because the page title data source used here is infrequently updated.
# Use the page_id to look up a title: https://en.wikipedia.org/?curid=56880920

     page_id                            title   count
0   43573275                 Elizabeth_Holmes  326878
1   41779862                         Theranos  132637
2      18079                Leonardo_da_Vinci  105264
3      58911                          Measles   98451
4      27546               Sexual_intercourse   96251
5      37556                Asperger_syndrome   85467
6     791546                   Ketogenic_diet   82855
7       4501                      Black_Death   79951
8    4488176     Munchausen_syndrome_by_proxy   79782
9      52135                        Pneumonia   76293
10   1232575                  Suicide_methods   74179
11   7188999                  Wiggers_diagram   72325
12     50601                  Cystic_fibrosis   64496
13     56483                Tourette_syndrome   63125
14    149223  Borderline_personality_disorder   60141
15   1232085                      Cannabidiol   58184
16     63522                  Crohn's_disease   57546
17      4531                 Bipolar_disorder   56245
18  26652964                         Intersex   56072
19     30653                     Tuberculosis   55526

## Event Data

#### source: event.citationusage (limited to sampled pageloads from citationusagepageload)

In [26]:
# daily count of events for WP:M pages with ext links over study period
# limited to events w/ pageload data
sampled_wpm_events_query = """
SELECT to_date(dt) date, event.action, count(*) count
FROM event.citationusage
WHERE wiki = 'enwiki'
AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks WHERE dt LIKE '{}')
AND event.session_token in (
    SELECT event.session_token 
    FROM event.citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND day = {}
    AND month = {}
    AND year = {}
    AND useragent.is_bot = FALSE
    )
{}
AND day = {}
AND month = {}
AND year = {}
AND useragent.is_bot = FALSE
GROUP BY to_date(dt), event.action
ORDER BY to_date(dt)
"""

sampled_wpm_events_rdd = sc.emptyRDD()
for d in daterange(start_date, end_date):
    dt = date_to_dt(d)
    sampled_daily_wpm_events = spark.sql(
        sampled_wpm_events_query.format(dt, pageload_exclusion_sql, d.day, d.month, d.year, 
                                        event_exclusion_sql, d.day, d.month, d.year))
    sampled_wpm_events_rdd = sampled_wpm_events_rdd.union(sampled_daily_wpm_events.rdd)

sampled_wpm_events_merged = sqlContext.createDataFrame(sampled_wpm_events_rdd)
sampled_wpm_events = sampled_wpm_events_merged.toPandas()

In [29]:
# daily count of events for NOT WP:M pages with ext links over study period
# limited to events w/ pageload data
sampled_not_wpm_events_query = """
SELECT to_date(dt) date, event.action, count(*) count
FROM event.citationusage
WHERE wiki = 'enwiki'
AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.pages_with_extlinks WHERE dt LIKE '{}')
AND event.page_id NOT IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks WHERE dt LIKE '{}')
AND event.session_token in (
    SELECT event.session_token 
    FROM event.citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND day = {}
    AND month = {}
    AND year = {}
    AND useragent.is_bot = FALSE
    )
{}
AND day = {}
AND month = {}
AND year = {}
AND useragent.is_bot = FALSE
GROUP BY to_date(dt), event.action
ORDER BY to_date(dt)
"""

sampled_not_wpm_events_rdd = sc.emptyRDD()
for d in daterange(start_date, end_date):
    dt = date_to_dt(d)
    sampled_daily_not_wpm_events = spark.sql(
        sampled_not_wpm_events_query.format(dt, dt, 
                                            pageload_exclusion_sql, d.day, d.month, d.year,
                                            event_exclusion_sql, d.day, d.month, d.year))
    sampled_not_wpm_events_rdd = sampled_not_wpm_events_rdd.union(sampled_daily_not_wpm_events.rdd)

sampled_not_wpm_events_merged = sqlContext.createDataFrame(sampled_not_wpm_events_rdd)
sampled_not_wpm_events = sampled_not_wpm_events_merged.toPandas()

In [30]:
# daily count of events for all pages with ext links over study period
# limited to events w/ pageload data
sampled_events_query = """
SELECT to_date(dt) date, event.action, count(*) count
FROM event.citationusage
WHERE wiki = 'enwiki'
AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.pages_with_extlinks WHERE dt LIKE '{}')
AND event.session_token in (
    SELECT event.session_token 
    FROM event.citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND day = {}
    AND month = {}
    AND year = {}
    AND useragent.is_bot = FALSE
    )
{}
AND day = {}
AND month = {}
AND year = {}
AND useragent.is_bot = FALSE
GROUP BY to_date(dt), event.action
ORDER BY to_date(dt)
"""

sampled_events_rdd = sc.emptyRDD()
for d in daterange(start_date, end_date):
    dt = date_to_dt(d)
    sampled_daily_events = spark.sql(
        sampled_events_query.format(dt, 
                                    pageload_exclusion_sql, d.day, d.month, d.year,
                                    event_exclusion_sql, d.day, d.month, d.year))
    sampled_events_rdd = sampled_events_rdd.union(sampled_daily_events.rdd)

sampled_events_merged = sqlContext.createDataFrame(sampled_events_rdd)
sampled_events = sampled_events_merged.toPandas()

#### Event Summaries (limited to sampled pageloads)

In [27]:
# WPM:M pages with external links
sampled_wpm_events.groupby(['action']).sum()

           count
action
extClick  163929
fnClick   171781
fnHover   307654
upClick     5547

In [31]:
# NOT WPM:M pages with external links
sampled_not_wpm_events.groupby(['action']).sum()

            count
action
extClick  9354609
fnClick   4286525
fnHover   6681416
upClick    154455

In [32]:
# all pages with external links
sampled_events.groupby(['action']).sum()

            count
action
extClick  9499087
fnClick   4438323
fnHover   6951743
upClick    159368

#### Event Daily Counts (limited to sampled pageloads)

In [28]:
# WPM:M pages with external links
sampled_wpm_events.pivot(index='date', columns='action', values='count')

action      extClick  fnClick  fnHover  upClick
date
2019-03-27      9692    10240    19020      307
2019-03-28      9759     9743    18307      327
2019-03-29      8396     8511    14972      313
2019-03-30      6233     7357    11734      220
2019-03-31      7290     8365    14018      253
2019-04-01      9703     9649    18655      524
2019-04-02     10126     9622    19334      291
2019-04-03      9573     9796    18947      253
2019-04-04      9620     9186    17143      287
2019-04-05      8267     8446    15222      228
2019-04-06      6452     7495    11362      246
2019-04-07      7311     8638    13750      349
2019-04-08      9846     9981    19352      355
2019-04-09     10211    10151    19100      318
2019-04-10      9781     9911    18125      236
2019-04-11      9560     9675    17673      253
2019-04-12      8685     8917    15434      239
2019-04-13      6298     7419    11604      226
2019-04-14      7126     8679    13902      322

In [33]:
# NOT WPM:M pages with external links
sampled_not_wpm_events.pivot(index='date', columns='action', values='count')

action      extClick  fnClick  fnHover  upClick
date
2019-03-29    491913   213567   351866     7586
2019-03-30    438044   208317   273162     6154
2019-03-31    480530   236050   314065     7503
2019-04-01    552810   248511   423350    18490
2019-04-02    550348   237537   423597    13549
2019-04-03    546818   234237   417267     8347
2019-04-04    539924   232588   408053     7906
2019-04-05    513166   223548   369539     7684
2019-04-06    457702   219654   277844     6284
2019-04-07    497672   247528   320200     7596
2019-04-08    585369   257040   435021     8712
2019-04-09    568359   249883   425587     8650
2019-04-10    555105   244279   419026     8073
2019-04-11    544501   245014   418706     7919
2019-04-12    512212   232736   370284     7755
2019-04-13    453199   227580   277139     6591
2019-04-14    493220   258866   316600     6971
2019-04-15    573717   269590   440110     8685

In [34]:
# all pages with external links
sampled_events.pivot(index='date', columns='action', values='count')

action      extClick  fnClick  fnHover  upClick
date
2019-03-29    500309   222078   366838     7899
2019-03-30    444277   215674   284896     6374
2019-03-31    487820   244415   328083     7756
2019-04-01    562513   258160   442005    19014
2019-04-02    560474   247159   442931    13840
2019-04-03    556391   244033   436214     8600
2019-04-04    549544   241774   425196     8193
2019-04-05    521433   231994   384761     7912
2019-04-06    464154   227149   289206     6530
2019-04-07    504983   256166   333950     7945
2019-04-08    595215   267021   454373     9067
2019-04-09    578570   260034   444687     8968
2019-04-10    564886   254190   437151     8309
2019-04-11    554061   254689   436379     8172
2019-04-12    520897   241653   385718     7994
2019-04-13    459497   234999   288743     6817
2019-04-14    500346   267545   330502     7293
2019-04-15    573717   269590   440110     8685

In [35]:
# Total event count for top 1000 viewed WP:M pages with ext links by event type
sum_top1k_events_query = """
SELECT event.action, count(*) count
FROM event.citationusage
WHERE wiki = 'enwiki'
AND event.page_id IN (SELECT page_id FROM ryanmax.top1k_med)
{}
AND to_date(dt) >= '{}'
AND to_date(dt) <= '{}'
AND useragent.is_bot = FALSE
AND event.session_token in (
    SELECT event.session_token 
    FROM event.citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    )
GROUP BY event.action
"""

sum_top1k_events = spark.sql(
    sum_top1k_events_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
sum_top1k_events_rdd = sum_top1k_events.rdd
sum_top1k_events_df = sqlContext.createDataFrame(sum_top1k_events_rdd)
sum_top1k_events_pandas = sum_top1k_events_df.toPandas()
sum_top1k_events_pandas

     action   count
0   fnHover  252154
1   fnClick  136034
2   upClick    8994
3  extClick   73721

In [36]:
# Total event count for each WP:M class (FA, A, GA, B, C, Start, Stub) by event type
pm_category_events_query = """
SELECT projmed_categories.category, event.action, count(*) count
FROM 
    event.citationusage, 
    (SELECT DISTINCT page_id, category 
    FROM ryanmax.projmed_categories 
    WHERE projmed_categories.category LIKE '%Class_medicine_articles%') 
    AS projmed_categories
WHERE event.page_id = projmed_categories.page_id
    AND wiki = 'enwiki'
    AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks)
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    AND event.session_token in (
        SELECT event.session_token 
        FROM event.citationusagepageload
        WHERE wiki = 'enwiki'
        {}
        AND to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        AND useragent.is_bot = FALSE
        )
GROUP BY projmed_categories.category, event.action
ORDER BY projmed_categories.category, event.action
"""

pm_category_events = spark.sql(
    pm_category_events_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
pm_category_events_rdd = pm_category_events.rdd
pm_category_events_df = sqlContext.createDataFrame(pm_category_events_rdd)
pm_category_events_pandas = pm_category_events_df.toPandas()
# set precision of count values so they don't appear with a decimal place ... likely an easier way to do this
pm_category_events_pandas['count'] = pm_category_events_pandas['count'].map(lambda x: '{0:.0f}'.format(x))
pm_category_events_pandas.pivot(index='category', columns='action', values='count')

action                           extClick fnClick fnHover upClick
category
B-Class_medicine_articles           64780  108742  200929    6515
C-Class_medicine_articles           72021   81224  139554    6682
Category-Class_medicine_articles        5       3      10    None
Disambig-Class_medicine_articles       55       8       9       1
FA-Class_medicine_articles           4784    9641   23282     276
FL-Class_medicine_articles            144     309     465      16
GA-Class_medicine_articles           8850   21617   46466    2551
List-Class_medicine_articles         4165    3569    5896      50
Redirect-Class_medicine_articles       47      38      43       1
Start-Class_medicine_articles       97977   64066   95878    2261
Stub-Class_medicine_articles        23877    6131    6942     211

In [7]:
# count of pages with external links for each WP:M class (FA, A, GA, B, C, Start, Stub)
# numbers will not match [1] because we're limiting to namespace 0 pages with external links
# [1] https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Medicine/Assessment#Statistics
pm_category_pages = """
SELECT category, COUNT(DISTINCT page_id) AS pages_w_links 
FROM ryanmax.projmed_categories 
WHERE category LIKE '%Class_medicine_articles%' 
AND page_id IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks)
GROUP BY category
ORDER BY COUNT(*) DESC
"""
pm_cat_counts = spark.sql(pm_category_pages)
cats = sqlContext.createDataFrame(pm_cat_counts.rdd)
cats.toPandas()

                            category  pages_w_links
0      Start-Class_medicine_articles          14493
1       Stub-Class_medicine_articles           9824
2          C-Class_medicine_articles           5308
3          B-Class_medicine_articles           2166
4       List-Class_medicine_articles            456
5         GA-Class_medicine_articles            240
6         FA-Class_medicine_articles             62
7   Disambig-Class_medicine_articles             17
8   Redirect-Class_medicine_articles             14
9         FL-Class_medicine_articles             12
10  Category-Class_medicine_articles              1

In [4]:
# Total event count for top 1K hostnames (e.g., DOI.org / ncbi) by event type
# limited to W pages with external links
# NOTE: limited to 4k which should produce more data than necessary
top_hosts_query = """
SELECT parse_url(event.link_url,'HOST') AS host, event.action, COUNT(*) AS count 
FROM event.citationusage 
WHERE wiki = 'enwiki'
AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.pages_with_extlinks)
{}
AND to_date(dt) >= '{}'
AND to_date(dt) <= '{}'
AND useragent.is_bot = FALSE
AND event.session_token in (
    SELECT event.session_token 
    FROM event.citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    )
GROUP BY host, event.action
ORDER BY COUNT(*) DESC
LIMIT 4000
"""
top_hosts_events = spark.sql(
    top_hosts_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_events_rdd = top_hosts_events.rdd
top_hosts_events_df = sqlContext.createDataFrame(top_hosts_events_rdd)
top_hosts_events_pandas = top_hosts_events_df.toPandas()

# write data to hive for later use in R
top_hosts_events.createOrReplaceTempView("temp_top_hosts_w_events")
sqlContext.sql("DROP TABLE IF EXISTS ryanmax.top_hosts_w_events");
sqlContext.sql("CREATE TABLE ryanmax.top_hosts_w_events AS SELECT * FROM temp_top_hosts_w_events");

top_hosts_events.limit(20).toPandas()

                    host    action     count
0       en.wikipedia.org   fnHover  11727961
1     en.m.wikipedia.org   fnClick   5334434
2       en.wikipedia.org   fnClick   2609309
3           www.imdb.com  extClick   1021641
4     en.m.wikipedia.org   fnHover    700456
5        web.archive.org  extClick    680688
6      tools.wmflabs.org  extClick    356619
7       en.wikipedia.org   upClick    355358
8        www.youtube.com  extClick    201009
9       books.google.com  extClick    197913
10               doi.org  extClick    142157
11  www.espncricinfo.com  extClick    128241
12       www.nytimes.com  extClick    101311
13  www.ncbi.nlm.nih.gov  extClick     81402
14   www.theguardian.com  extClick     75664
15         www.bbc.co.uk  extClick     75062
16     www.instagram.com  extClick     61715
17           twitter.com  extClick     60379
18        www.google.com  extClick     55021
19           archive.org  extClick     54775

In [ ]:
# Total event count for top 1K hostnames (e.g., DOI.org / ncbi) by event type
# limited to W:PM pages with external links
# NOTE: limited to 4k which should produce more data than necessary
top_hosts_wpm_query = """
SELECT parse_url(event.link_url,'HOST') AS host, event.action, COUNT(*) AS count 
FROM event.citationusage 
WHERE wiki = 'enwiki'
AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks)
{}
AND to_date(dt) >= '{}'
AND to_date(dt) <= '{}'
AND useragent.is_bot = FALSE
AND event.session_token in (
    SELECT event.session_token 
    FROM event.citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    )
GROUP BY host, event.action
ORDER BY COUNT(*) DESC
LIMIT 4000
"""
top_hosts_wpm_events = spark.sql(
    top_hosts_wpm_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_wpm_events_rdd = top_hosts_wpm_events.rdd
top_hosts_wpm_events_df = sqlContext.createDataFrame(top_hosts_wpm_events_rdd)
top_hosts_wpm_events_pandas = top_hosts_wpm_events_df.toPandas()

# write data to hive for later use in R
top_hosts_wpm_events.createOrReplaceTempView("temp_top_hosts_wpm_events")
sqlContext.sql("DROP TABLE IF EXISTS ryanmax.top_hosts_wpm_events");
sqlContext.sql("CREATE TABLE ryanmax.top_hosts_wpm_events AS SELECT * FROM temp_top_hosts_wpm_events");

top_hosts_wpm_events.limit(20).toPandas()

                               host    action   count
0                  en.wikipedia.org   fnHover  486934
1                en.m.wikipedia.org   fnClick  176709
2                  en.wikipedia.org   fnClick  116782
3                en.m.wikipedia.org   fnHover   30211
4              www.ncbi.nlm.nih.gov  extClick   28856
5                           doi.org  extClick   25016
6                   web.archive.org  extClick   17508
7                  en.wikipedia.org   upClick   16083
8                  books.google.com  extClick    6387
9                     www.drugs.com  extClick    5391
10                      www.who.int  extClick    4683
11                      www.cdc.gov  extClick    3026
12              chemapps.stolaf.edu  extClick    2574
13                  www.nlm.nih.gov  extClick    2072
14                     apps.who.int  extClick    2020
15                  www.nytimes.com  extClick    1694
16                      www.fda.gov  extClick    1544
17          www.commonchemistry.org  extClick    1532
18                  www.youtube.com  extClick    1429
19  translate.googleusercontent.com   fnHover    1394

In [4]:
# Total event count for top 1K hostnames (e.g., DOI.org / ncbi) by event type
# limited to NOT W:PM pages with external links
# NOTE: limited to 4k which should produce more data than necessary
top_hosts_notwpm_query = """
SELECT parse_url(event.link_url,'HOST') AS host, event.action, COUNT(*) AS count 
FROM event.citationusage 
WHERE wiki = 'enwiki'
AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.pages_with_extlinks)
AND event.page_id NOT IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks)
{}
AND to_date(dt) >= '{}'
AND to_date(dt) <= '{}'
AND useragent.is_bot = FALSE
AND event.session_token in (
    SELECT event.session_token 
    FROM event.citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    )
GROUP BY host, event.action
ORDER BY COUNT(*) DESC
LIMIT 4000
"""
top_hosts_notwpm_events = spark.sql(
    top_hosts_notwpm_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_notwpm_events_rdd = top_hosts_notwpm_events.rdd
top_hosts_notwpm_events_df = sqlContext.createDataFrame(top_hosts_notwpm_events_rdd)
top_hosts_notwpm_events_pandas = top_hosts_notwpm_events_df.toPandas()

# write data to hive for later use in R
top_hosts_notwpm_events.createOrReplaceTempView("temp_top_hosts_notwpm_events")
sqlContext.sql("DROP TABLE IF EXISTS ryanmax.top_hosts_notwpm_events");
sqlContext.sql("CREATE TABLE ryanmax.top_hosts_notwpm_events AS SELECT * FROM temp_top_hosts_notwpm_events");

top_hosts_notwpm_events.limit(20).toPandas()

                    host    action     count
0       en.wikipedia.org   fnHover  11361299
1     en.m.wikipedia.org   fnClick   5212881
2       en.wikipedia.org   fnClick   2521723
3           www.imdb.com  extClick   1032661
4     en.m.wikipedia.org   fnHover    676892
5        web.archive.org  extClick    669861
6      tools.wmflabs.org  extClick    359762
7       en.wikipedia.org   upClick    343324
8        www.youtube.com  extClick    201590
9       books.google.com  extClick    193475
10  www.espncricinfo.com  extClick    129227
11               doi.org  extClick    118264
12       www.nytimes.com  extClick    101027
13   www.theguardian.com  extClick     76072
14         www.bbc.co.uk  extClick     75485
15     www.instagram.com  extClick     62292
16           twitter.com  extClick     61282
17        www.google.com  extClick     54978
18           archive.org  extClick     54822
19  www.ncbi.nlm.nih.gov  extClick     52999

In [4]:
# Total count of events (by all event types) for each Section ID for WP:M pages only
## data capture issue: data is NOT limited to top-level section IDs
## example: https://en.wikipedia.org/wiki/Hepatitis#Signs_and_symptoms
## clicks on links under "Acute hepatitis" are captured with section_id Acute_hepatitis, not Signs_and_symptoms
pm_section_events_query = """
SELECT event.section_id, event.action, count(*) count
FROM 
    event.citationusage 
WHERE event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks)
    AND wiki = 'enwiki'
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    AND event.session_token in (
        SELECT event.session_token 
        FROM event.citationusagepageload
        WHERE wiki = 'enwiki'
        {}
        AND to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        AND useragent.is_bot = FALSE
        )
GROUP BY event.section_id, event.action
ORDER BY count desc
LIMIT 100
"""

pm_section_events = spark.sql(
    pm_section_events_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
pm_section_events_rdd = pm_section_events.rdd
pm_section_events_df = sqlContext.createDataFrame(pm_section_events_rdd)
pm_section_events_pandas = pm_section_events_df.toPandas()
pm_section_events_pandas
#pm_section_events_pandas.pivot(index='section_id', columns='action', values='count')

               section_id    action   count
0                    None   fnHover  174550
1              References  extClick  163066
2                    None   fnClick  120610
3                    None  extClick   48624
4          External_links  extClick   38400
5              References   upClick   16553
6                 History   fnHover   16146
7      Signs_and_symptoms   fnHover   10174
8                 History   fnClick    7959
9                  Causes   fnHover    6218
10     Signs_and_symptoms   fnClick    5931
11           Epidemiology   fnHover    5340
12              Treatment   fnHover    5188
13              Diagnosis   fnHover    4818
14                  Notes  extClick    4635
15        Further_reading  extClick    4397
16              Treatment   fnClick    3984
17                 Causes   fnClick    3634
18    Mechanism_of_action   fnHover    3499
19           Medical_uses   fnHover    3399
20        Pathophysiology   fnHover    3369
21           Epidemiology   fnClick    2660
22                  Cause   fnHover    2624
23              Prognosis   fnHover    2559
24              Diagnosis   fnClick    2433
25       Pharmacodynamics   fnHover    2401
26               Genetics   fnHover    2303
27         Classification   fnHover    2243
28        Adverse_effects   fnHover    2150
29              Prognosis   fnClick    2042
..                    ...       ...     ...
70    Society_and_culture   fnClick     812
71                  Other   fnHover     811
72            Definitions   fnHover     810
73          Notable_cases   fnClick     801
74              Structure   fnHover     791
75               Genetics   fnClick     790
76             Management   fnClick     780
77  Exposure_and_downfall   fnHover     779
78          Notable_cases   fnHover     778
79            Medical_use   fnHover     769
80              Citations  extClick     744
81              Chemistry   fnHover     719
82               Overdose   fnHover     716
83           Interactions   fnHover     715
84                 Cancer   fnHover     715
85                Effects   fnHover     709
86           Risk_factors   fnClick     676
87           Bibliography  extClick     662
88              Discovery   fnHover     655
89            Controversy   fnHover     654
90               See_also  extClick     640
91              Mechanism   fnClick     613
92                  Types   fnClick     613
93                   Diet   fnHover     606
94                  Types  extClick     603
95               Symptoms   fnHover     596
96                Medical   fnHover     589
97                 Career   fnHover     575
98                Surgery   fnHover     565
99                 Safety   fnHover     563

[100 rows x 3 columns]

In [3]:
# Total count of events (by all event types) in InfoBoxes for WP:M pages only
# Total count of events (by all event types) in the Main section for WP:M pages only
pm_infobox_events_query = """
SELECT event.in_infobox, event.action, count(*) count
FROM 
    event.citationusage 
WHERE wiki = 'enwiki'
    AND event.page_id IN (SELECT page_id FROM ryanmax.projmed_with_extlinks)
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    AND event.session_token in (
        SELECT event.session_token 
        FROM event.citationusagepageload
        WHERE wiki = 'enwiki'
        {}
        AND to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        AND useragent.is_bot = FALSE
        )
GROUP BY event.in_infobox, event.action
"""

pm_infobox_events = spark.sql(
    pm_infobox_events_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
pm_infobox_events_rdd = pm_infobox_events.rdd
pm_infobox_events_df = sqlContext.createDataFrame(pm_infobox_events_rdd)
pm_infobox_events_pandas = pm_infobox_events_df.toPandas()
pm_infobox_events_pandas

  in_infobox    action   count
0      False   fnHover  513866
1      False  extClick  230772
2       True  extClick   48239
3      False   fnClick  273298
4      False   upClick   17459
5       True   fnClick   23620
6       True   fnHover    8852

In [4]:
# Total count of events for freely accessible links in W
freely_events_query = """
SELECT event.freely_accessible, event.action, count(*) count
FROM 
    event.citationusage 
WHERE wiki = 'enwiki'
    AND event.action = 'extClick'
    AND event.page_id IN (SELECT page_id FROM ryanmax.pages_with_extlinks)
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    AND event.session_token in (
        SELECT event.session_token 
        FROM event.citationusagepageload
        WHERE wiki = 'enwiki'
        {}
        AND to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        AND useragent.is_bot = FALSE
        )
GROUP BY event.freely_accessible, event.action
"""

freely_events = spark.sql(
    freely_events_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
freely_events_rdd = freely_events.rdd
freely_events_df = sqlContext.createDataFrame(freely_events_rdd)
freely_events_pandas = freely_events_df.toPandas()
freely_events_pandas

  freely_accessible    action     count
0             False  extClick  17088312
1              True  extClick     12616

In [ ]:
# Total count of events for freely accessible links in WP:M
pm_freely_events_query = """
SELECT event.freely_accessible, event.action, count(*) count
FROM 
    event.citationusage 
WHERE wiki = 'enwiki'
    AND event.action = 'extClick'
    AND event.page_id IN (SELECT page_id FROM ryanmax.projmed_with_extlinks)
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    AND event.session_token in (
        SELECT event.session_token 
        FROM event.citationusagepageload
        WHERE wiki = 'enwiki'
        {}
        AND to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        AND useragent.is_bot = FALSE
        )
GROUP BY event.freely_accessible, event.action
"""

pm_freely_events = spark.sql(
    pm_freely_events_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
pm_freely_events_rdd = pm_freely_events.rdd
pm_freely_events_df = sqlContext.createDataFrame(pm_freely_events_rdd)
pm_freely_events_pandas = pm_freely_events_df.toPandas()
pm_freely_events_pandas

  freely_accessible    action   count
0             False  extClick  278151
1              True  extClick     860

In [3]:
# Total count of events for freely accessible links in WP:M
not_pm_freely_events_query = """
SELECT event.freely_accessible, event.action, count(*) count
FROM 
    event.citationusage 
WHERE wiki = 'enwiki'
    AND event.action = 'extClick'
    AND event.page_id IN (SELECT DISTINCT page_id FROM ryanmax.pages_with_extlinks)
    AND event.page_id NOT IN (SELECT DISTINCT page_id FROM ryanmax.projmed_with_extlinks)
    {}
    AND to_date(dt) >= '{}'
    AND to_date(dt) <= '{}'
    AND useragent.is_bot = FALSE
    AND event.session_token in (
        SELECT event.session_token 
        FROM event.citationusagepageload
        WHERE wiki = 'enwiki'
        {}
        AND to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        AND useragent.is_bot = FALSE
        )
GROUP BY event.freely_accessible, event.action
"""

not_pm_freely_events = spark.sql(
    not_pm_freely_events_query.format(
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
not_pm_freely_events_rdd = not_pm_freely_events.rdd
not_pm_freely_events_df = sqlContext.createDataFrame(not_pm_freely_events_rdd)
not_pm_freely_events_pandas = not_pm_freely_events_df.toPandas()
not_pm_freely_events_pandas

  freely_accessible    action     count
0             False  extClick  16810163
1              True  extClick     11756