## Total Event Counts from Top 20 Hostnames

In [1]:
# basic defaults, including study dates, common SQL exclusions and parquet files for anonymized data
%run -i 'data-defaults.py'

### all event types

In [4]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W pages with external links
top_hosts_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}' 
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_events = spark.sql(
    top_hosts_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_events_rdd = top_hosts_events.rdd
top_hosts_events_df = sqlContext.createDataFrame(top_hosts_events_rdd)
top_hosts_events_pandas = top_hosts_events_df.toPandas()

top_hosts_events.toPandas()

                               host     count
0                  en.wikipedia.org  11367746
1                en.m.wikipedia.org   4837557
2                      www.imdb.com    803002
3                   web.archive.org    528903
4                 tools.wmflabs.org    282577
5                   www.youtube.com    157707
6                  books.google.com    153293
7                           doi.org    108797
8              www.espncricinfo.com    101142
9                   www.nytimes.com     80159
10             www.ncbi.nlm.nih.gov     62421
11              www.theguardian.com     59727
12                    www.bbc.co.uk     59124
13  translate.googleusercontent.com     49764
14                www.instagram.com     49667
15                      twitter.com     48782
16                      archive.org     42762
17                   www.google.com     41450
18                 www.allmusic.com     40627
19             www.biblegateway.com     38111

In [5]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W:PM pages with external links
top_hosts_wpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND page_id IN 
            (SELECT DISTINCT page_id 
            FROM ryanmax.projmed_with_extlinks
            WHERE to_date(dt) >= '{}' 
            AND to_date(dt) <= '{}'
            )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_wpm_events = spark.sql(
    top_hosts_wpm_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_wpm_events_rdd = top_hosts_wpm_events.rdd
top_hosts_wpm_events_df = sqlContext.createDataFrame(top_hosts_wpm_events_rdd)
top_hosts_wpm_events_pandas = top_hosts_wpm_events_df.toPandas()

top_hosts_wpm_events.toPandas()

                               host   count
0                  en.wikipedia.org  472749
1                en.m.wikipedia.org  162507
2              www.ncbi.nlm.nih.gov   22206
3                           doi.org   19184
4                   web.archive.org   12715
5                  books.google.com    4854
6                     www.drugs.com    4195
7                       www.who.int    3558
8   translate.googleusercontent.com    2777
9                       www.cdc.gov    2419
10              chemapps.stolaf.edu    2018
11                  www.nlm.nih.gov    1605
12                     apps.who.int    1533
13                  www.nytimes.com    1303
14                      www.fda.gov    1192
15          www.commonchemistry.org    1182
16           www.accessdata.fda.gov    1077
17                  www.youtube.com    1063
18           emedicine.medscape.com     961
19         pubchem.ncbi.nlm.nih.gov     888

In [6]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦) by event type
# limited to NOT W:PM pages with external links
top_hosts_notwpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
AND page_id NOT IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.projmed_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_notwpm_events = spark.sql(
    top_hosts_notwpm_query.format(
        start_date_string, end_date_string,
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_notwpm_events_rdd = top_hosts_notwpm_events.rdd
top_hosts_notwpm_events_df = sqlContext.createDataFrame(top_hosts_notwpm_events_rdd)
top_hosts_notwpm_events_pandas = top_hosts_notwpm_events_df.toPandas()

top_hosts_notwpm_events.toPandas()

                               host     count
0                  en.wikipedia.org  10894997
1                en.m.wikipedia.org   4675050
2                      www.imdb.com    802787
3                   web.archive.org    516188
4                 tools.wmflabs.org    282278
5                   www.youtube.com    156644
6                  books.google.com    148439
7              www.espncricinfo.com    101137
8                           doi.org     89613
9                   www.nytimes.com     78856
10              www.theguardian.com     59134
11                    www.bbc.co.uk     58655
12                www.instagram.com     49667
13                      twitter.com     48745
14  translate.googleusercontent.com     46987
15                      archive.org     42376
16                   www.google.com     41025
17                 www.allmusic.com     40627
18             www.ncbi.nlm.nih.gov     40215
19             www.biblegateway.com     38051

### limited to extClick events

In [7]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W pages with external links
# further limited to extClick events
top_hosts_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action = 'extClick'
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}' 
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_events = spark.sql(
    top_hosts_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_events_rdd = top_hosts_events.rdd
top_hosts_events_df = sqlContext.createDataFrame(top_hosts_events_rdd)
top_hosts_events_pandas = top_hosts_events_df.toPandas()

top_hosts_events.toPandas()

                      host   count
0             www.imdb.com  803002
1          web.archive.org  528876
2        tools.wmflabs.org  282577
3          www.youtube.com  157707
4         books.google.com  153265
5                  doi.org  108797
6     www.espncricinfo.com  101142
7          www.nytimes.com   80159
8     www.ncbi.nlm.nih.gov   62421
9      www.theguardian.com   59727
10           www.bbc.co.uk   59124
11       www.instagram.com   49667
12             twitter.com   48782
13             archive.org   42753
14          www.google.com   41450
15        www.allmusic.com   40627
16  www.rottentomatoes.com   37400
17      www.findagrave.com   34819
18          news.bbc.co.uk   33774
19     www.telegraph.co.uk   30401

In [8]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W:PM pages with external links
# further limited to extClick events
top_hosts_wpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action = 'extClick'
AND page_id IN 
            (SELECT DISTINCT page_id 
            FROM ryanmax.projmed_with_extlinks
            WHERE to_date(dt) >= '{}' 
            AND to_date(dt) <= '{}'
            )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_wpm_events = spark.sql(
    top_hosts_wpm_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_wpm_events_rdd = top_hosts_wpm_events.rdd
top_hosts_wpm_events_df = sqlContext.createDataFrame(top_hosts_wpm_events_rdd)
top_hosts_wpm_events_pandas = top_hosts_wpm_events_df.toPandas()

top_hosts_wpm_events.toPandas()

                               host  count
0              www.ncbi.nlm.nih.gov  22206
1                           doi.org  19184
2                   web.archive.org  12715
3                  books.google.com   4854
4                     www.drugs.com   4195
5                       www.who.int   3558
6                       www.cdc.gov   2419
7               chemapps.stolaf.edu   2018
8                   www.nlm.nih.gov   1605
9                      apps.who.int   1533
10                  www.nytimes.com   1303
11                      www.fda.gov   1192
12          www.commonchemistry.org   1182
13           www.accessdata.fda.gov   1077
14                  www.youtube.com   1063
15           emedicine.medscape.com    961
16  translate.googleusercontent.com    947
17         pubchem.ncbi.nlm.nih.gov    888
18                   www.cancer.gov    823
19                  www.drugbank.ca    692

In [9]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦) by event type
# limited to NOT W:PM pages with external links
# further limited to extClick events
top_hosts_notwpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action = 'extClick'
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
AND page_id NOT IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.projmed_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_notwpm_events = spark.sql(
    top_hosts_notwpm_query.format(
        start_date_string, end_date_string,
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_notwpm_events_rdd = top_hosts_notwpm_events.rdd
top_hosts_notwpm_events_df = sqlContext.createDataFrame(top_hosts_notwpm_events_rdd)
top_hosts_notwpm_events_pandas = top_hosts_notwpm_events_df.toPandas()

top_hosts_notwpm_events.toPandas()

                      host   count
0             www.imdb.com  802787
1          web.archive.org  516161
2        tools.wmflabs.org  282278
3          www.youtube.com  156644
4         books.google.com  148411
5     www.espncricinfo.com  101137
6                  doi.org   89613
7          www.nytimes.com   78856
8      www.theguardian.com   59134
9            www.bbc.co.uk   58655
10       www.instagram.com   49667
11             twitter.com   48745
12             archive.org   42367
13          www.google.com   41025
14        www.allmusic.com   40627
15    www.ncbi.nlm.nih.gov   40215
16  www.rottentomatoes.com   37399
17      www.findagrave.com   34730
18          news.bbc.co.uk   33310
19     www.telegraph.co.uk   30024

### limited to fnHover events

In [10]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W pages with external links
# further limited to fnHover events
top_hosts_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action = 'fnHover'
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}' 
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_events = spark.sql(
    top_hosts_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_events_rdd = top_hosts_events.rdd
top_hosts_events_df = sqlContext.createDataFrame(top_hosts_events_rdd)
top_hosts_events_pandas = top_hosts_events_df.toPandas()

top_hosts_events.toPandas()

                               host    count
0                  en.wikipedia.org  9124324
1                en.m.wikipedia.org   554234
2   translate.googleusercontent.com    14446
3                              None     7440
4              www.biblegateway.com     4495
5        www.translatoruser-int.com      542
6                  papago.naver.net      348
7                    z5h64q92x9.net      133
8       emedien3.sub.uni-hamburg.de       54
9                  en.wikipedi0.org       49
10       translate.baiducontent.com       32
11                 books.google.com       21
12                www.gutenberg.org       20
13                  web.archive.org       18
14                 en.wk.jsproxy.tk       11
15              en.wikipedia.nom.rs       10
16                 en.wikiludia.com        9
17                         fsfe.org        8
18                 wn.rsarchive.org        5
19                   www.gpedia.com        5

In [11]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W:PM pages with external links
# further limited to fnHover events
top_hosts_wpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action = 'fnHover'
AND page_id IN 
            (SELECT DISTINCT page_id 
            FROM ryanmax.projmed_with_extlinks
            WHERE to_date(dt) >= '{}' 
            AND to_date(dt) <= '{}'
            )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_wpm_events = spark.sql(
    top_hosts_wpm_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_wpm_events_rdd = top_hosts_wpm_events.rdd
top_hosts_wpm_events_df = sqlContext.createDataFrame(top_hosts_wpm_events_rdd)
top_hosts_wpm_events_pandas = top_hosts_wpm_events_df.toPandas()

top_hosts_wpm_events.toPandas()

                               host   count
0                  en.wikipedia.org  372114
1                en.m.wikipedia.org   23331
2   translate.googleusercontent.com    1008
3                              None     176
4        www.translatoruser-int.com      29
5                  papago.naver.net      24
6              www.biblegateway.com      21
7       emedien3.sub.uni-hamburg.de      12
8                    z5h64q92x9.net       9
9                scholar.google.com       2
10                   www.gpedia.com       1
11       translate.baiducontent.com       1
12               en.m.wikipedi0.org       1

In [12]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦) by event type
# limited to NOT W:PM pages with external links
# further limited to fnHover events
top_hosts_notwpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action = 'fnHover'
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
AND page_id NOT IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.projmed_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_notwpm_events = spark.sql(
    top_hosts_notwpm_query.format(
        start_date_string, end_date_string,
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_notwpm_events_rdd = top_hosts_notwpm_events.rdd
top_hosts_notwpm_events_df = sqlContext.createDataFrame(top_hosts_notwpm_events_rdd)
top_hosts_notwpm_events_pandas = top_hosts_notwpm_events_df.toPandas()

top_hosts_notwpm_events.toPandas()

                               host    count
0                  en.wikipedia.org  8752210
1                en.m.wikipedia.org   530903
2   translate.googleusercontent.com    13438
3                              None     7264
4              www.biblegateway.com     4474
5        www.translatoruser-int.com      513
6                  papago.naver.net      324
7                    z5h64q92x9.net      124
8                  en.wikipedi0.org       49
9       emedien3.sub.uni-hamburg.de       42
10       translate.baiducontent.com       31
11                 books.google.com       21
12                www.gutenberg.org       20
13                  web.archive.org       18
14                 en.wk.jsproxy.tk       11
15              en.wikipedia.nom.rs       10
16                 en.wikiludia.com        9
17                         fsfe.org        8
18              en.wikipedia.nom.cl        5
19                 wn.rsarchive.org        5

### limited to extClick, fnClick OR upClick events

In [14]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W pages with external links
# further limited to extClick, fnClick OR upClick events
top_hosts_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action in ('extClick', 'upClick','fnClick')
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}' 
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_events = spark.sql(
    top_hosts_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_events_rdd = top_hosts_events.rdd
top_hosts_events_df = sqlContext.createDataFrame(top_hosts_events_rdd)
top_hosts_events_pandas = top_hosts_events_df.toPandas()

top_hosts_events.toPandas()

                               host    count
0                en.m.wikipedia.org  4283323
1                  en.wikipedia.org  2243422
2                      www.imdb.com   803002
3                   web.archive.org   528885
4                 tools.wmflabs.org   282577
5                   www.youtube.com   157707
6                  books.google.com   153272
7                           doi.org   108797
8              www.espncricinfo.com   101142
9                   www.nytimes.com    80159
10             www.ncbi.nlm.nih.gov    62421
11              www.theguardian.com    59727
12                    www.bbc.co.uk    59124
13                www.instagram.com    49667
14                      twitter.com    48782
15                      archive.org    42759
16                   www.google.com    41450
17                 www.allmusic.com    40627
18           www.rottentomatoes.com    37400
19  translate.googleusercontent.com    35318

In [15]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦)
# limited to W:PM pages with external links
# further limited to extClick, fnClick OR upClick events
top_hosts_wpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action in ('extClick', 'upClick','fnClick')
AND page_id IN 
            (SELECT DISTINCT page_id 
            FROM ryanmax.projmed_with_extlinks
            WHERE to_date(dt) >= '{}' 
            AND to_date(dt) <= '{}'
            )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_wpm_events = spark.sql(
    top_hosts_wpm_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_wpm_events_rdd = top_hosts_wpm_events.rdd
top_hosts_wpm_events_df = sqlContext.createDataFrame(top_hosts_wpm_events_rdd)
top_hosts_wpm_events_pandas = top_hosts_wpm_events_df.toPandas()

top_hosts_wpm_events.toPandas()

                               host   count
0                en.m.wikipedia.org  139176
1                  en.wikipedia.org  100635
2              www.ncbi.nlm.nih.gov   22206
3                           doi.org   19184
4                   web.archive.org   12715
5                  books.google.com    4854
6                     www.drugs.com    4195
7                       www.who.int    3558
8                       www.cdc.gov    2419
9               chemapps.stolaf.edu    2018
10  translate.googleusercontent.com    1769
11                  www.nlm.nih.gov    1605
12                     apps.who.int    1533
13                  www.nytimes.com    1303
14                      www.fda.gov    1192
15          www.commonchemistry.org    1182
16           www.accessdata.fda.gov    1077
17                  www.youtube.com    1063
18           emedicine.medscape.com     961
19         pubchem.ncbi.nlm.nih.gov     888

In [16]:
# Total event count for top 20 hostnames (e.g., DOI.org / ncbiâ€¦) by event type
# limited to NOT W:PM pages with external links
# further limited to extClick, fnClick OR upClick events
top_hosts_notwpm_query = """
SELECT parse_url(link_url,'HOST') AS host, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND action in ('extClick', 'upClick','fnClick')
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
AND page_id NOT IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.projmed_with_extlinks
        WHERE to_date(dt) >= '{}'
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_hosts_notwpm_events = spark.sql(
    top_hosts_notwpm_query.format(
        start_date_string, end_date_string,
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_hosts_notwpm_events_rdd = top_hosts_notwpm_events.rdd
top_hosts_notwpm_events_df = sqlContext.createDataFrame(top_hosts_notwpm_events_rdd)
top_hosts_notwpm_events_pandas = top_hosts_notwpm_events_df.toPandas()

top_hosts_notwpm_events.toPandas()

                      host    count
0       en.m.wikipedia.org  4144147
1         en.wikipedia.org  2142787
2             www.imdb.com   802787
3          web.archive.org   516170
4        tools.wmflabs.org   282278
5          www.youtube.com   156644
6         books.google.com   148418
7     www.espncricinfo.com   101137
8                  doi.org    89613
9          www.nytimes.com    78856
10     www.theguardian.com    59134
11           www.bbc.co.uk    58655
12       www.instagram.com    49667
13             twitter.com    48745
14             archive.org    42373
15          www.google.com    41025
16        www.allmusic.com    40627
17    www.ncbi.nlm.nih.gov    40215
18  www.rottentomatoes.com    37399
19      www.findagrave.com    34730

### top wikipedia.org links by event type

In [19]:
# wikipedia.org links by event type
top_wiki_hosts_query = """
SELECT parse_url(link_url,'HOST') AS host, action, COUNT(*) AS count 
FROM citationusage 
WHERE wiki = 'enwiki'
AND parse_url(link_url,'HOST') like '%wikipedia.org'
AND page_id IN 
        (SELECT DISTINCT page_id 
        FROM ryanmax.pages_with_extlinks
        WHERE to_date(dt) >= '{}' 
        AND to_date(dt) <= '{}'
        )
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
AND session_id in (
    SELECT session_id
    FROM citationusagepageload
    WHERE wiki = 'enwiki'
    {}
    AND to_date(event_time) >= '{}'
    AND to_date(event_time) <= '{}'
    AND useragent_is_bot = FALSE
    )
GROUP BY host, action
ORDER BY COUNT(*) DESC
LIMIT 20
"""
top_wiki_hosts_events = spark.sql(
    top_wiki_hosts_query.format(
        start_date_string, end_date_string,
        event_exclusion_sql, start_date_string, end_date_string,
        pageload_exclusion_sql, start_date_string, end_date_string,
    ))
top_wiki_hosts_events_rdd = top_wiki_hosts_events.rdd
top_wiki_hosts_events_df = sqlContext.createDataFrame(top_wiki_hosts_events_rdd)
top_wiki_hosts_events_pandas = top_wiki_hosts_events_df.toPandas()

top_wiki_hosts_events_pandas.pivot(index='host', columns='action', values='count')

action                extClick    fnClick    fnHover   upClick
host
ar.wikipedia.org          83.0        NaN        NaN       NaN
de.wikipedia.org         541.0        NaN        NaN       NaN
en.m.wikipedia.org         NaN  4253813.0   554234.0   29498.0
en.wikipedia.org          58.0  2008427.0  9124324.0  234937.0
eo.wikipedia.org          75.0        NaN        NaN       NaN
es.wikipedia.org         210.0        NaN        NaN       NaN
fr.wikipedia.org         514.0        NaN        NaN       NaN
it.wikipedia.org         147.0        NaN        NaN       NaN
ja.wikipedia.org         463.0        NaN        NaN       NaN
nl.wikipedia.org         294.0        NaN        NaN       NaN
pt.wikipedia.org         109.0        NaN        NaN       NaN
ru.wikipedia.org         275.0        NaN        NaN       NaN
simple.wikipedia.org     165.0        NaN        NaN       NaN
www.wikipedia.org        241.0        NaN        NaN       NaN
zh.wikipedia.org         323.0        NaN        NaN       NaN