# Citation Usage Event Data

In [1]:
# basic defaults, including study dates, common SQL exclusions and parquet files for anonymized data
%run -i 'data-defaults.py'

## Overview

### Events by date and type

In [2]:
# show citationusage events by date and type
events_query = """
SELECT to_date(event_time) date, action, COUNT(*) count
FROM citationusage
WHERE wiki = 'enwiki'
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
GROUP BY to_date(event_time), action
ORDER BY to_date(event_time)
"""

events = spark.sql(events_query.format(event_exclusion_sql,start_date_string, end_date_string))
events_rdd = events.rdd
events_df = sqlContext.createDataFrame(events_rdd)
events_pandas = events_df.toPandas()

In [3]:
events_pandas.pivot(index='date', columns='action', values='count')

action      extClick  fnClick  fnHover  upClick
date
2019-03-22   1564276   725377  1131859   149622
2019-03-23   1369397   667724   883147    20342
2019-03-24   1509326   750329  1018411    23969
2019-03-25   1744801   782508  1365524    82990
2019-03-26   1701660   737057  1342285    28909
2019-03-27   1666356   728824  1321898    27761
2019-03-28   1611850   705904  1267787    25736
2019-03-29   1498888   666005  1122572    23467
2019-03-30   1336032   649300   865928    19934
2019-03-31   1458753   736367   999087    23209
2019-04-01   1696205   786290  1347917    64128
2019-04-02   1682662   747037  1347737    40231
2019-04-03   1670454   738633  1388282    27035
2019-04-04   1646892   729689  1295965    25781
2019-04-05   1569885   698560  1167598    23560
2019-04-06   1384602   686494   884076    20321
2019-04-07   1509870   774512  1017164    25706
2019-04-08   1782721   806068  1381709    28268
2019-04-09   1737629   785598  1354357    27683
2019-04-10   1694997   815365  1330797    26776
2019-04-11   1652196   769221  1322496    25945
2019-04-12   1562013   731778  1174525    24225
2019-04-13   1371961   713839   880946    21390
2019-04-14   1495978   807770  1000841    23310
2019-04-15   1715777   818613  1340525    27057
2019-04-16   1696712   789199  1539108    27887
2019-04-17   1668298   775790  1263989    37014
2019-04-18   1591918   760815  1159988    60986
2019-04-19   1502334   762657  1008602    61486
2019-04-20   1402357   752056   869566    36189
2019-04-21   1453171   813824   926495    38190
2019-04-22   1732916   861378  1269297    53323

### Events for WP:M pages with external links

In [4]:
# daily count of events for WP:M pages with external links over study period
wpm_events_query = """
SELECT to_date(event_time) date, action, count(*) count
FROM citationusage
WHERE wiki = 'enwiki'
AND page_id IN (SELECT page_id FROM ryanmax.population_wpm_pages_with_extlinks)
{}
AND day = {}
AND month = {}
AND year = {}
AND useragent_is_bot = FALSE
GROUP BY to_date(event_time), action
ORDER BY to_date(event_time)
"""

wpm_events_rdd = sc.emptyRDD()
for d in daterange(start_date, end_date):
    dt = date_to_dt(d)
    daily_wpm_events = spark.sql(
        wpm_events_query.format(event_exclusion_sql, d.day, d.month, d.year))
    wpm_events_rdd = wpm_events_rdd.union(daily_wpm_events.rdd)

wpm_events_merged = sqlContext.createDataFrame(wpm_events_rdd)
wpm_events = wpm_events_merged.toPandas()

#### WP:M event summary

In [5]:
# summary of events for WP:M pages with external links
wpm_events.groupby(['action']).agg(
    [('days','count'),
    ('total_events','sum'),
    'mean',
    'median',
    'min',
    'max',
    'std',
    ('25%', lambda x: x.quantile(.25)),
    ('50%', lambda x: x.quantile(.5)),
    ('75%', lambda x: x.quantile(.75))])

         count                                                                \
          days total_events         mean   median    min    max          std
action
extClick    32       825981  25811.90625  27276.5  18382  30593  4193.178031
fnClick     32       887662  27739.43750  28612.0  22608  31122  2626.223334
fnHover     32      1559965  48748.90625  48772.5  32894  60269  8621.973440
upClick     32        49263   1539.46875    913.5    621  12580  2227.803402


               25%      50%       75%
action
extClick  21741.50  27276.5  29271.75
fnClick   25830.75  28612.0  29741.75
fnHover   41783.50  48772.5  56687.50
upClick     820.00    913.5   1132.25

#### WP:M daily events

In [6]:
# daily event counts for WPM:M pages with external links
wpm_events.pivot(index='date', columns='action', values='count')

action      extClick  fnClick  fnHover  upClick
date
2019-03-22     27130    27753    47375     5851
2019-03-23     20471    23852    37786      683
2019-03-24     23375    26987    44589      896
2019-03-25     30398    29599    59335     1235
2019-03-26     30568    30422    60269     1051
2019-03-27     29707    30741    59600      971
2019-03-28     29682    29298    56639      929
2019-03-29     24527    25752    46813      830
2019-03-30     18647    22608    36714      659
2019-03-31     21674    25275    42956      799
2019-04-01     29135    29591    56833     1391
2019-04-02     30330    30050    58545     1442
2019-04-03     28904    29103    57382      865
2019-04-04     28497    28041    54026      860
2019-04-05     25218    25857    47214      730
2019-04-06     19373    23510    35657      700
2019-04-07     21764    26299    42046      916
2019-04-08     29885    30308    58223     1098
2019-04-09     30593    31122    58366     1077
2019-04-10     29814    30883    55613      911
2019-04-11     28581    29395    53284      880
2019-04-12     25286    26925    46673      762
2019-04-13     18806    22654    35298      705
2019-04-14     21449    26156    40996      827
2019-04-15     28771    29639    54695      969
2019-04-16     28438    30080    54799     1014
2019-04-17     28218    29006    52183      886
2019-04-18     26262    28218    47142     1872
2019-04-19     25757    29488    39727    12580
2019-04-20     18382    23494    32894      621
2019-04-21     18916    25155    36123     1435
2019-04-22     27423    30401    50170     2818

### Events for W pages with external links

In [7]:
# daily count of events for W pages with ext links over study period
w_events_query = """
SELECT to_date(event_time) date, action, count(*) count
FROM citationusage
WHERE wiki = 'enwiki'
AND page_id IN (SELECT page_id FROM ryanmax.population_w_pages_with_extlinks)
{}
AND day = {}
AND month = {}
AND year = {}
AND useragent_is_bot = FALSE
GROUP BY to_date(event_time), action
ORDER BY to_date(event_time)
"""

w_events_rdd = sc.emptyRDD()
for d in daterange(start_date, end_date):
    dt = date_to_dt(d)
    daily_w_events = spark.sql(
        w_events_query.format(event_exclusion_sql, d.day, d.month, d.year))
    w_events_rdd = w_events_rdd.union(daily_w_events.rdd)

w_events_merged = sqlContext.createDataFrame(w_events_rdd)
w_events = w_events_merged.toPandas()

#### W event summary

In [8]:
# summary of events for W pages with external links
w_events.groupby(['action']).agg(
    [('days','count'),
    ('total_events','sum'),
    'mean',
    'median',
    'min',
    'max',
    'std',
    ('25%', lambda x: x.quantile(.25)),
    ('50%', lambda x: x.quantile(.5)),
    ('75%', lambda x: x.quantile(.75))])

         count                                                   \
          days total_events     mean   median      min      max
action
extClick    32     49827889  1557121  1573276  1316582  1752162
fnClick     32     23108212   722131   723895   624928   820998
fnHover     32     35926529  1122704  1165469   826976  1481295
upClick     32      1111622    34738    25724    19026   143458


                    std         25%      50%      75%
action
extClick  124483.889592  1474046.75  1573276  1664884
fnClick    46869.018210   695899.75   723895   752815
fnHover   185086.791800   964512.25  1165469  1279761
upClick    24483.350241    22709.50    25724    35897

#### W daily events

In [9]:
# daily event counts for W pages with external links
w_events.pivot(index='date', columns='action', values='count')

action      extClick  fnClick  fnHover  upClick
date
2019-03-22   1535905   695599  1081404   143458
2019-03-23   1347885   641895   843147    19347
2019-03-24   1484929   720997   971081    22756
2019-03-25   1713271   750599  1302415    81252
2019-03-26   1669983   704416  1278722    27362
2019-03-27   1635725   696000  1259035    26375
2019-03-28   1581173   674494  1208129    24435
2019-03-29   1473530   638280  1073015    22314
2019-03-30   1316582   624928   826976    19026
2019-03-31   1435934   709110   953775    22086
2019-04-01   1666036   754475  1287996    62344
2019-04-02   1650965   714823  1285843    38363
2019-04-03   1640269   707290  1327765    25749
2019-04-04   1617364   699627  1238942    24518
2019-04-05   1543810   670946  1117829    22570
2019-04-06   1364368   660849   846327    19360
2019-04-07   1487454   746301   972742    24484
2019-04-08   1752162   773643  1320311    26744
2019-04-09   1706339   752262  1292854    26244
2019-04-10   1664500   782356  1272114    25440
2019-04-11   1623127   737892  1266330    24670
2019-04-12   1536334   703104  1125370    23128
2019-04-13   1352825   689532   843750    20411
2019-04-14   1474219   779635   957517    22208
2019-04-15   1686583   786904  1282879    25699
2019-04-16   1667787   757042  1481295    26469
2019-04-17   1639804   744860  1209065    35731
2019-04-18   1565379   730809  1110389    58707
2019-04-19   1476396   731429   966844    48635
2019-04-20   1383804   726794   834892    35315
2019-04-21   1432099   780323   882207    36395
2019-04-22   1701348   820998  1205569    50027

## Mobile vs Desktop

### mobile vs desktop events for W pages with external links

In [10]:
# mobile vs desktop events for W pages with external links
w_mode_events_query = """
SELECT to_date(event_time) AS date, mode, action, count(*) count
FROM citationusage
WHERE wiki = 'enwiki'
AND page_id IN (SELECT page_id FROM ryanmax.population_w_pages_with_extlinks)
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
GROUP BY date, mode, action
ORDER BY date, mode, action
"""

events = spark.sql(w_mode_events_query.format(event_exclusion_sql,start_date_string, end_date_string))
events_rdd = events.rdd
events_df = sqlContext.createDataFrame(events_rdd)
events_pandas = events_df.toPandas()
events_pandas.groupby(['mode', 'action']).agg(
    [('days','count'),
    ('total_events','sum'),
    'mean', 
    'median', 
    'min', 
    'max', 
    'std', 
    ('25%', lambda x: x.quantile(.25)), 
    ('50%', lambda x: x.quantile(.5)), 
    ('75%', lambda x: x.quantile(.75))])

                 count                                                         \
                  days total_events          mean     median     min      max
mode    action
desktop extClick    32     29294243  9.154451e+05   974150.5  661195  1102793
        fnClick     32      7527839  2.352450e+05   255253.5  162052   309010
        fnHover     32     33855425  1.057982e+06  1097533.0  766685  1416905
        upClick     32       999363  3.123009e+04    22426.5   15554   140145
mobile  extClick    32     20533646  6.416764e+05   626029.5  561265   757109
        fnClick     32     15580373  4.868867e+05   480579.0  416481   595415
        fnHover     32      2071104  6.472200e+04    64384.0   57461    72650
        upClick     32       112259  3.508094e+03     3466.5    2987     4127


                            std        25%        50%         75%
mode    action
desktop extClick  160436.363245  749929.00   974150.5  1049703.00
        fnClick    43789.385081  195226.00   255253.5   267710.25
        fnHover   185721.887148  897499.25  1097533.0  1215819.50
        upClick    24533.609128   19123.75    22426.5    32551.50
mobile  extClick   56887.431496  591392.75   626029.5   687168.25
        fnClick    47949.474529  442803.75   480579.0   519503.25
        fnHover     3955.892616   62148.75    64384.0    67267.25
        upClick      258.408199    3315.25     3466.5     3713.75

### mobile vs desktop events for WP:M pages with external links

In [11]:
# mobile vs desktop events for WP:M pages with external links
wpm_mode_events_query = """
SELECT to_date(event_time) AS date, mode, action, count(*) count
FROM citationusage
WHERE wiki = 'enwiki'
AND page_id IN (SELECT page_id FROM ryanmax.population_wpm_pages_with_extlinks)
{}
AND to_date(event_time) >= '{}'
AND to_date(event_time) <= '{}'
AND useragent_is_bot = FALSE
GROUP BY date, mode, action
ORDER BY date, mode, action
"""

events = spark.sql(wpm_mode_events_query.format(event_exclusion_sql,start_date_string, end_date_string))
events_rdd = events.rdd
events_df = sqlContext.createDataFrame(events_rdd)
events_pandas = events_df.toPandas()
events_pandas.groupby(['mode', 'action']).agg(
    [('days','count'),
    ('total_events','sum'),
    'mean', 
    'median', 
    'min', 
    'max', 
    'std', 
    ('25%', lambda x: x.quantile(.25)), 
    ('50%', lambda x: x.quantile(.5)), 
    ('75%', lambda x: x.quantile(.75))])

                 count                                                   \
                  days total_events         mean   median    min    max
mode    action
desktop extClick    32       569352  17792.25000  19381.5  10839  22257
        fnClick     32       350362  10948.81250  11809.5   6992  13387
        fnHover     32      1466075  45814.84375  45790.5  30290  56944
        upClick     32        45528   1422.75000    787.5    530  12492
mobile  extClick    32       256629   8019.65625   8070.0   7016   8960
        fnClick     32       537300  16790.62500  16899.0  14864  18461
        fnHover     32        93890   2934.06250   2937.5   2542   3421
        upClick     32         3735    116.71875    118.0     88    155


                          std       25%      50%       75%
mode    action
desktop extClick  3881.859539  14054.75  19381.5  21140.25
        fnClick   2039.249885   9359.25  11809.5  12495.75
        fnHover   8395.114932  38803.50  45790.5  53479.75
        upClick   2232.108652    711.00    787.5    982.00
mobile  extClick   438.177576   7644.75   8070.0   8363.50
        fnClick    887.853764  16156.00  16899.0  17294.25
        fnHover    265.305902   2690.75   2937.5   3159.75
        upClick     16.142979    106.00    118.0    127.00