# Wikipedia Page Sizes
- Report out page character counts from wiki markup in XML dumps
- Character counts use pre-rendered, pre-transcluded text, but relative page sizes should serve our study well
- populate `page_lengths_w_date` table
- report page sizes for W and WP:M for both dump dates

In [1]:
# basic defaults, including study dates, common SQL exclusions and parquet files for anonymized data
%run -i 'data-defaults.py'

In [2]:
WIKIPEDIA_XML_DUMPS = ['enwiki-20190401-pages-articles-multistream.xml.bz2',
                       'enwiki-20190420-pages-articles-multistream.xml.bz2']

def page_length(entity, date):
    page_text = entity.revision.text._VALUE
    size = len(page_text)
    return Row(page_id=entity.id, page_length=size, dt=date)

page_lengths_rdd = sc.emptyRDD()
for file in WIKIPEDIA_XML_DUMPS:
    wikipedia = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='page').load(file)
    dump_date = re.search(r'.*(\d{8}).*',file).group(1)
    articles = wikipedia\
        .filter("ns = '0'")\
        .filter("redirect._title is null") \
        .filter("revision.text._VALUE is not null") \
        .filter("length(revision.text._VALUE) > 0")
    daily_page_lengths = sqlContext.createDataFrame(articles.rdd.map(lambda entity: page_length(entity, dump_date)))
    page_lengths_rdd = page_lengths_rdd.union(daily_page_lengths.rdd)

page_lengths_merged = sqlContext.createDataFrame(page_lengths_rdd)
page_lengths = page_lengths_merged.toPandas()

In [3]:
page_lengths

                dt   page_id  page_length
0         20190401        12        99963
1         20190401        25       135120
2         20190401        39        44303
3         20190401       290        25311
4         20190401       303       183922
5         20190401       305        72923
6         20190401       307       167030
7         20190401       308       138843
8         20190401       309        19905
9         20190401       316        95575
10        20190401       324       103954
11        20190401       330         5841
12        20190401       332         6389
13        20190401       334        12895
14        20190401       336        67575
15        20190401       339        90875
16        20190401       340         7457
17        20190401       344        12665
18        20190401       358       126670
19        20190401       359        32578
20        20190401       569        94594
21        20190401       572        13678
22        20190401       573        88247
23        20190401       579         4633
24        20190401       580         8465
25        20190401       586        98736
26        20190401       590         2526
27        20190401       593        57995
28        20190401       594       162924
29        20190401       595       127616
...            ...       ...          ...
11686877  20190420  60552524         2694
11686878  20190420  60552528         3750
11686879  20190420  60552534         9828
11686880  20190420  60552561         8489
11686881  20190420  60552576         2340
11686882  20190420  60552592         1103
11686883  20190420  60552597         2463
11686884  20190420  60552601         1131
11686885  20190420  60552606         1148
11686886  20190420  60552607         1348
11686887  20190420  60552611         2460
11686888  20190420  60552619         1085
11686889  20190420  60552630         7553
11686890  20190420  60552632         1139
11686891  20190420  60552643         2450
11686892  20190420  60552649         1124
11686893  20190420  60552656         1098
11686894  20190420  60552665         2241
11686895  20190420  60552674         1365
11686896  20190420  60552678         9310
11686897  20190420  60552679         3434
11686898  20190420  60552689         2758
11686899  20190420  60552690         1135
11686900  20190420  60552709         3075
11686901  20190420  60552711         1090
11686902  20190420  60552724         4952
11686903  20190420  60552730         1100
11686904  20190420  60552736         6633
11686905  20190420  60552745         1154
11686906  20190420  60552764         1119

[11686907 rows x 3 columns]

In [4]:
# write page lengths data to a table for later use
page_lengths_merged.createOrReplaceTempView("temp_page_lengths")
sqlContext.sql("DROP TABLE IF EXISTS ryanmax.page_lengths_w_date")
sqlContext.sql("CREATE TABLE ryanmax.page_lengths_w_date AS SELECT * FROM temp_page_lengths")

DataFrame[]

## Number of Wikipedia pages
- limited to namespace 0
- excludes redirect pages
- excludes pages without content

In [5]:
# page count of all pages in Wikipedia namespace 0, excluding redirect pages and pages with no content
count_query = """
SELECT dt, count(*) as pages
FROM 
    ryanmax.page_lengths_w_date
GROUP BY dt
"""
counts = spark.sql(count_query)
counts.show()

+--------+-------+
|      dt|  pages|
+--------+-------+
|20190420|5847824|
|20190401|5839083|
+--------+-------+

## Sizes of W pages with external links

In [6]:
# page_lengths of W pages w/ ext links
w_pl_query = """
SELECT dt, CAST(AVG(page_length) AS DECIMAL(10,2)) AS average_page_length, 
    PERCENTILE(page_length,0.5) AS median_page_length,
    STDDEV(page_length) as stddev_page_length,
    (PERCENTILE(page_length,0.75) - PERCENTILE(page_length,0.25)) as iqr_page_length
FROM 
    ryanmax.page_lengths_w_date
WHERE page_id IN 
    (SELECT page_id FROM ryanmax.population_w_pages_with_extlinks)
GROUP BY dt
"""

w_pl_links = spark.sql(w_pl_query)
w_pl_links.show()

+--------+-------------------+------------------+------------------+---------------+
|      dt|average_page_length|median_page_length|stddev_page_length|iqr_page_length|
+--------+-------------------+------------------+------------------+---------------+
|20190420|            7676.41|            3865.0|13632.444562862427|         5789.0|
|20190401|            7662.35|            3860.0|13599.185396839484|         5779.0|
+--------+-------------------+------------------+------------------+---------------+

## Sizes of WP:M pages with external links

In [7]:
# page_lengths of WP:M pages w/ ext links
pm_pl_query = """
SELECT dt, CAST(AVG(page_length) AS DECIMAL(10,2)) AS average_page_length, 
    PERCENTILE(page_length,0.5) AS median_page_length,
    STDDEV(page_length) as stddev_page_length,
    (PERCENTILE(page_length,0.75) - PERCENTILE(page_length,0.25)) as iqr_page_length
FROM 
    ryanmax.page_lengths_w_date
WHERE page_id IN 
    (SELECT page_id FROM ryanmax.population_wpm_pages_with_extlinks)
GROUP BY dt
"""

pm_pl_links = spark.sql(pm_pl_query)
pm_pl_links.show()

+--------+-------------------+------------------+------------------+---------------+
|      dt|average_page_length|median_page_length|stddev_page_length|iqr_page_length|
+--------+-------------------+------------------+------------------+---------------+
|20190420|           13084.95|            6628.0|19378.442855890582|        11640.0|
|20190401|           13057.77|            6607.0|19351.962904945245|        11611.0|
+--------+-------------------+------------------+------------------+---------------+